* {
    margin: 0; padding: 0; box-sizing: border-box;
}
.parent {
    border: 2px solid red;
    width: 500px;
    margin: 50px auto;
    height: 400px;
    position:relative;
}
.child {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    left: 25px;
    top: 25px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 40px;
    top: 40px;

}



/* ul {
    list-style: none;
    display: flex;
    gap: 20px;
} */
/* stickty *
/* .navigation {
    border: 2px solid;
    background-color: #efefef;
    position: sticky;
    top: 0;
} */


/* fixed */
/* .navigation {
    position: fixed;
    left: 20px;
    top: 50px;
    border: 2px solid;
    background-color: #efefef;
} */

