@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f2f5;
    font-family: 'Lato', sans-serif;
}
.box {
    background-color: #fff;
    width: 300px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px ;
    box-shadow: 0 0 10px 0px #00000036;
}
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cecece;
}
.blueBtn {
    width: 100%;
    padding: 10px;
    border: 0px;
    background-color: #1877f2;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.links {
    text-align: center;
    margin-bottom: 15px;
     border-bottom: 1px solid #cecece;
     padding-bottom: 10px;
}
.links a {
    text-decoration: none;
    font-size: 14px;
    color: #1877f2;
}
.createBtn {
    text-align: center;
}
.greenBtn {
    background-color: #42b72a;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}